* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background:#000000 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    background: url('./assets/img/bg.png');
    background-repeat: no-repeat;
    background-position: center 0;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.nav-link {
    padding: 0 10px;
    line-height: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: #FFFFFF;
}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: auto;
    list-style: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('./assets/img/bg.png');
    background-position: center -90px;
    background-repeat: no-repeat;
    width: 1440px;
    height: 820px;
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 500px;
    height: 330px;
}
.hero-title {
    flex: none;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
}

.hero-text {
    flex: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
}

.hero-button {
    width: 220px;
    height: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    background-color: #BDAE82;
}


.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 482px;
}

.section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 80px;
    background: #000000;
    color: #BDAE82;
}

.text-title {
    width: 152px;
    height: 80px;
    background: #000000;
    border-radius: 0px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 1400px;
    height: 242px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    background: #000000;
    color: #FFFFFF;
}
.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    height: 240px;
}

.icon-skills {

}

.header-skills {
    width: 280px;
    height: 40px;
    text-align: center;
}

.description-skills {
    width: 280px;
    height: 72px;
    text-align: center;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 1500px;
}


.text-title-2 {
    width: 232px;
    height: 80px;
    background: #000000;
    border-radius: 0px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
}

.portfolio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 895px;
    height: 55px;
}

.button-1 {
    order: 1;
    width: 220px;
    height: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #BDAE82;
    background-color: black;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

.button-2 {
    order: 2;
    width: 220px;
    height: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #BDAE82;
    background-color: black;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

.button-3 {
    order: 3;
    width: 220px;
    height: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #BDAE82;
    background-color: black;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

.button-4 {
    order: 4;
    width: 220px;
    height: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #BDAE82;
    background-color: black;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}
.exemples-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1400px;
    height: 1145px;
}
.video {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 945px;
}

.text-title-3 {
    width: 154px;
    height: 80px;
    background: #000000;
    border-radius: 0px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
}

.video-player {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
    height: 705px;
}

/*.video-button {
    flex:auto;
    width: 130px;
    height: 130px;
}*/
.price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 845px;
}

.text-title-4 {
    width: 142px;
    height: 80px;
    background: #000000;
    border-radius: 0px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
}

.price-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 1400px;
    height: 505px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 505px;
    border: 3px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

.tarif-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 56px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}
.cost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
}
.description-tarif {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 364px;
    height: 180px;
}

.tarif-item {
    height: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.order-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 55px;
    background: #BDAE82;
}

.order-button-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:flex-end;
    width: 1440px;
    height: 700px;
    background-image: url(./assets/img/contacts.jpg);
}

.text-title-5 {
    width: 450px;
    height: 80px;
    border-radius: 0px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:baseline;
    width: 1440px;
    height: 150px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color:#FFFFFF
}